<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ajou.kickshare">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.AdminActivity"></activity>
        <activity android:name=".main.rent.QrActivity" />
        <activity android:name=".main.rent.MapActivity" />
        <activity android:name=".main.rent.PointActivity" />
        <activity android:name=".main.help.HelpActivity" />
        <activity android:name=".main.rent.RentActivity" />
        <activity android:name=".main.MainActivity" />
        <activity android:name=".service.EventActivity" />
        <activity android:name=".initial.LoginActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBe92JyJrJ0PZlK7vbMIZwGHaLT3EAR-5U" />

        <activity android:name=".initial.MethodActivity" />
        <activity android:name=".initial.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>